.board {
  border: 1px solid black;
  position: relative;
}

.ball {
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: black;
  position: absolute;
}

#paddle {
  border: 1px solid black;
  position: absolute;
}