.title {
  display: flex;
  justify-content: center;
}

.game {
  position: fixed;
  top: 100px;
  left: 650px;
}

.board {
  border: 1px solid black;
  border-bottom: none;
  position: absolute;
}

.ball {
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: black;
  position: absolute;
}

#paddle {
  border: 1px solid black;
  position: relative;
}